{
    "root"          : true,
    "env"           : {
        "es6" : true,
        "node": true
    },
    "extends"       : [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser"        : "@typescript-eslint/parser",
    "parserOptions" : {
        "project"   : [
            "tsconfig.json",
            "tsconfig.dev.json"
        ],
        "sourceType": "module"
    },
    "ignorePatterns": [
        "/lib/**/*"
        // Ignore built files.
    ],
    "plugins"       : [
        "@typescript-eslint",
        "adonis"
    ],
    "rules"         : {
        "quotes"                               : [
            "error",
            "double"
        ],
        "import/no-unresolved"                 : 0,
        "indent"                               : [
            "warn",
            4,
            {
                "MemberExpression": 1,
                "SwitchCase"      : 1
            }
        ],
        "key-spacing"                          : "off",
        "max-len"                              : "off",
        "object-curly-spacing"                 : "off",
        "no-multi-spaces"                      : "off",
        "no-async-promise-executor"            : "off",
        "@typescript-eslint/no-var-requires"   : "off",
        "@typescript-eslint/no-explication-any": "off"
    }
}
